body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    border-radius: 20px;
    padding: 1%;
}
#loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
#loginContainer > * {
    margin: 10px;
}
#responseText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: lightblue;
}
tr:nth-child(odd) {
    background-color: lightcyan;
}