body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content > * {
    margin: 1%;
}
#dogImg {
    width: 50vmin;
}