body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: gainsboro;
    border-radius: 20px;
}
#loginContainer > * {
    margin: 20px;
}